* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #333333;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.profile-box {
    background-color: #1b1b1b;
    text-align: center;
    padding: 40px 90px;
    border-radius: 12px;
    position: relative;
}
.profile-box .beranda {
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}
.profile-box .beranda:hover {
    transform: scale(1.3);
    transition: .1s;
    color: #0086c4;
}
.profil {
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 6px;
    margin-top: 50px;
}
.profil:hover {
    transform: scale(1.1);
    transition: .2s;
}
.profile-box h3 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 600px;
    color: #fff;
}
.profile-box p {
    color: #fff;
}
.sosmed {
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.sosmed a {
    margin: 10px;
    margin-right: 35px;
    padding: 10px;
}
.sosmed .bi-instagram {
    width: 25px;
    text-decoration: none;
    color: #fff;
    position: absolute;
    
}
.sosmed .bi-instagram:hover {
    transform: scale(1.3);
    transition: .1s;
    color: #0086c4;
}
.sosmed .bi-whatsapp {
    width: 25px;
    text-decoration: none;
    color: #fff;
    position: absolute;
}
.sosmed .bi-whatsapp:hover {
    transform: scale(1.3);
    transition: .1s;
    color: #0086c4;
}