
body {
    height: 2000px;
}
.hero {
    padding-top: 3rem;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(img/bg.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #5a5a5a;
}
.container .navbar-brand {
    font-weight: bold;
}
span {
    color: #0086c4;
}
.sosmed a {
    color: #fff;
    margin: 10px;
    display: inline-block;
    text-align: center;
}
.sosmed a:hover {
    transform: scale(1.5);
    transition: .1s;
    color: #0086c4;
}
#About {
    background: #1b1b1b;
}
.row img {
    border-radius: 30px;
}
.contact-me {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.contact-me a {
    color: #fff;
    text-decoration: none;
    background-color: #0086c4;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
}
.contact-me a:hover {
    background-color: transparent;
    border: 2px solid #0086c4;
    cursor: pointer;
}
#Projects {
    background-color: #333333;
}
footer {
    background-color: #333333;
}
footer p {
    padding-bottom: 2rem;
    color: #ffffff70;
}
.bi-arrow-up-square-fill {
    color: #0086c4;
    border-radius: 50%;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 32px;
    font-size: 20px;
}
a .bi-arrow-up-square-fill {
    background-color: #fff;
    size: 30px;
}
@media (max-width: 600px) {
    #About .col p {
        text-align: center;
    }
    #About .col .contact-me {
        text-align: center;
    }
}